*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    text-align: center;
}
.hero {
    background: url('https://images.unsplash.com/photo-1500530855697-b586d89ba3ee')
    no-repeat center center/cover;
    
}
.hero h1 {
    font-size: 4rem;
    margin-bottom: 3px;
    animation: faddeIn 2s ease-in-out;
}
.hero p {
    margin: 20px 0;
    font-size: 1.5rem;
    color: #ccc;
}
.btn {
    background: crimson;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}
.btn:hover {
    background: darkred;
}
section {
    padding: 60px 20px;
    text-align: center;
}
.video-container {
    margin-top: 30px;
    
}
.video-container:hover {
    background: #333;
}
.contact p{
    font-style:italic;
    font-size: small;
}   

@keyframes faddeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@megia (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
        text-align: center;
    }
    iframe {
        width: 100%;
        height: auto;
    }
}
 